<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.web.mapper.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.it.web.model.entity.Company">
    <id column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="company_focusing" jdbcType="VARCHAR" property="companyFocusing" />
    <result column="company_time" jdbcType="VARCHAR" property="companyTime" />
    <result column="campany_money" jdbcType="VARCHAR" property="campanyMoney" />
    <result column="company_trade" jdbcType="VARCHAR" property="companyTrade" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, company_name, company_address, company_focusing, company_time, campany_money, 
    company_trade, user_id, create_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.it.web.model.req.CompanyReq" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_company
    <where>
      is_deleted = '0'
       <if test="companyId != null">
       and company_id = #{companyId,jdbcType=INTEGER}
       </if>
       <if test="companyName != null">
       and company_name like concat('%',#{companyName,jdbcType=VARCHAR},'%')
       </if>
       <if test="companyTrade != null">
       and company_trade = #{companyTrade,jdbcType=VARCHAR}
       </if>
       <if test="companyFocusing != null">
       and company_focusing = #{companyFocusing,jdbcType=VARCHAR}
       </if>
      <if test="startTime != null and endTime !=null ">
       and create_time BETWEEN #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR}
      </if>
    </where>
    order by create_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update t_company set is_deleted = '1'
    where company_id = #{companyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.it.web.model.entity.Company">
    insert into t_company (company_id, company_name, company_address, 
      company_focusing, company_time, campany_money, 
      company_trade, user_id, create_time, 
      is_deleted)
    values (#{companyId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR}, 
      #{companyFocusing,jdbcType=VARCHAR}, #{companyTime,jdbcType=VARCHAR}, #{campanyMoney,jdbcType=VARCHAR}, 
      #{companyTrade,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.it.web.model.entity.Company">
    insert into t_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyAddress != null">
        company_address,
      </if>
      <if test="companyFocusing != null">
        company_focusing,
      </if>
      <if test="companyTime != null">
        company_time,
      </if>
      <if test="campanyMoney != null">
        campany_money,
      </if>
      <if test="companyTrade != null">
        company_trade,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyFocusing != null">
        #{companyFocusing,jdbcType=VARCHAR},
      </if>
      <if test="companyTime != null">
        #{companyTime,jdbcType=VARCHAR},
      </if>
      <if test="campanyMoney != null">
        #{campanyMoney,jdbcType=VARCHAR},
      </if>
      <if test="companyTrade != null">
        #{companyTrade,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.it.web.model.entity.Company">
    update t_company
    <set>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyFocusing != null">
        company_focusing = #{companyFocusing,jdbcType=VARCHAR},
      </if>
      <if test="companyTime != null">
        company_time = #{companyTime,jdbcType=VARCHAR},
      </if>
      <if test="campanyMoney != null">
        campany_money = #{campanyMoney,jdbcType=VARCHAR},
      </if>
      <if test="companyTrade != null">
        company_trade = #{companyTrade,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=VARCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.it.web.model.entity.Company">
    update t_company
    set company_name = #{companyName,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      company_focusing = #{companyFocusing,jdbcType=VARCHAR},
      company_time = #{companyTime,jdbcType=VARCHAR},
      campany_money = #{campanyMoney,jdbcType=VARCHAR},
      company_trade = #{companyTrade,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=INTEGER}
  </update>
</mapper>