<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.web.mapper.studentInfoMapper">
  <resultMap id="BaseResultMap" type="com.it.web.model.entity.studentInfo">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="sgender" jdbcType="VARCHAR" property="sgender" />
    <result column="sage" jdbcType="INTEGER" property="sage" />
    <result column="saddress" jdbcType="VARCHAR" property="saddress" />
    <result column="semail" jdbcType="VARCHAR" property="semail" />
  </resultMap>
  <sql id="Base_Column_List">
    sid, sname, sgender, sage, saddress, semail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student_info
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student_info
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.it.web.model.entity.studentInfo">
    insert into student_info (sid, sname, sgender, 
      sage, saddress, semail
      )
    values (#{sid,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, #{sgender,jdbcType=VARCHAR}, 
      #{sage,jdbcType=INTEGER}, #{saddress,jdbcType=VARCHAR}, #{semail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.it.web.model.entity.studentInfo">
    insert into student_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="sname != null">
        sname,
      </if>
      <if test="sgender != null">
        sgender,
      </if>
      <if test="sage != null">
        sage,
      </if>
      <if test="saddress != null">
        saddress,
      </if>
      <if test="semail != null">
        semail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="sname != null">
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sgender != null">
        #{sgender,jdbcType=VARCHAR},
      </if>
      <if test="sage != null">
        #{sage,jdbcType=INTEGER},
      </if>
      <if test="saddress != null">
        #{saddress,jdbcType=VARCHAR},
      </if>
      <if test="semail != null">
        #{semail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.it.web.model.entity.studentInfo">
    update student_info
    <set>
      <if test="sname != null">
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sgender != null">
        sgender = #{sgender,jdbcType=VARCHAR},
      </if>
      <if test="sage != null">
        sage = #{sage,jdbcType=INTEGER},
      </if>
      <if test="saddress != null">
        saddress = #{saddress,jdbcType=VARCHAR},
      </if>
      <if test="semail != null">
        semail = #{semail,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.it.web.model.entity.studentInfo">
    update student_info
    set sname = #{sname,jdbcType=VARCHAR},
      sgender = #{sgender,jdbcType=VARCHAR},
      sage = #{sage,jdbcType=INTEGER},
      saddress = #{saddress,jdbcType=VARCHAR},
      semail = #{semail,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>