<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.web.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.it.web.model.entity.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_authority" jdbcType="VARCHAR" property="userAuthority" />
    <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_password, user_authority, is_deleted, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.it.web.model.entity.User" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    <where>
     is_deleted = '0'
     <if test="userId !=null">
       and user_id = #{userId,jdbcType=INTEGER}
     </if>
     <if test="userName != null">
       and user_name = #{userName,jdbcType=VARCHAR}
     </if>
      <if test="userName != null">
       and user_password = #{userPassword,jdbcType=VARCHAR}
     </if>
     </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update t_user set is_deleted = '1'
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.it.web.model.entity.User">
    insert into t_user (user_id, user_name, user_password, user_authority,
      is_deleted, create_time)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},#{userPassword,jdbcType=VARCHAR}, #{userAuthority,jdbcType=VARCHAR},
      #{isDeleted,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.it.web.model.entity.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userAuthority != null">
        user_authority,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userAuthority != null">
        #{userAuthority,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.it.web.model.entity.User">
    update t_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userAuthority != null">
        user_authority = #{userAuthority,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.it.web.model.entity.User">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
    user_password = #{userPassword,jdbcType=VARCHAR},
      user_authority = #{userAuthority,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>